#main-page p {
    padding-top: 10px;
    font-size: 1.1em;
}

.ps {
    overflow: auto !important;
}

body {
    max-height: fit-content;
    max-width: fit-content;
}

div {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    padding-bottom: 10px;
}

table {
    border-collapse: collapse;
    font-size: 1.1em;

    th:first-child,
    td:first-child {
        padding-left: 10px;
    }
}

#home-table {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    td {
        width: 50%;
    }

    th {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #home-table td {
        width: 50%;
    }
}

#schedule-table {
    td:first-child {
        width: 15%;
    }

    td:nth-child(2) {
        font-size: 1.1em;
        width: 33%;
    }

    tr:first-child {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 1.2em;
    }
}
